<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>首页</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->

	<script src="/js/jquery-3.4.1.js" type="application/javascript"></script>
	<script src="/js/bootstrap.min.js" type="application/javascript"></script>


</head>
<script>
	window.onload = function () {
		if (window.localStorage.getItem("close") == "true") {
			window.localStorage.removeItem("close");
			window.close();
		}
	}
</script>

<body style="background-color: darkgray; margin: 30px">
	<div th:insert="navigation :: copy"></div>

	<div class="container-fluid" style="background-color: white">
		<div class="row">
			<div class="col-lg-9 .col-md-12 .col-sm-12 .col-xs-12">
				<h3>
					<span class="glyphicon glyphicon-list" aria-hidden="true" style="margin-right: 10px"></span>发现
				</h3>
				<hr>
				<div class="list-group" th:each="a:${articleDTO}">
					<a th:href="@{'/article/'+${a.article.id}}" class="list-group-item">
						<h4 class="list-group-item-heading" th:text="${a.article.title}"></h4>
						<p class="list-group-item-text">
							作者：<span th:text="${a.author.name}"></span>,<span
								th:text="${a.article.viewcount}"></span>次阅读， <span
								th:text="${a.article.likecount}"></span>个点赞，<span
								th:text="${a.article.commentcount}"></span>个评论。
								<span class="pull-right" th:text="${#dates.format(a.article.gmtcreate,'yyyy-MM-dd')}"></span>
						</p> 
					</a>
				</div>

				<nav>
					<ul class="pager">
						<li class="previous" th:if="${page>1}"><a href="#"
							th:href="@{/(page=${page-1})}">上一页<span aria-hidden="true">&larr;</span></a></li>
						<li class="next" th:if="${page<maxpage}"><a href="#"
							th:href="@{/(page=${page+1})}">下一页 <span aria-hidden="true">&rarr;</span></a></li>
					</ul>
				</nav>
			</div>

			<div class="col-lg-3 .col-md-12 .col-sm-12 .col-xs-12"
				style="background-color: white">
				<h3>热门话题</h3>
			</div>
		</div>
	</div>

</body>
</html>